body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    overflow-x: hidden;
    font-family: 'Source Code Pro', monospace;
}

.logo {
    max-width: 300px;
}

.container {
    max-width: 1000px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 10em;
    max-width: 1000px;
    min-width: 750px;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 1em;
    margin: 1em;
    min-width: 6em;
    /* min-height: 10em;
    max-height: 100em; */
    height: 100vh;
    font-size: 2em;
    overflow: scroll;
}

nav ul li {
    margin: 3em;
}

.nav-hidden {
    position: fixed;
    right: -600px;
    transition: 0.5s;
}

.nav-shown {
    position: fixed;
    right: -2em;
    transition: 0.5s;
}

.video-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

video {
    max-width: 1000px;
}


.attention-text {
    color: rgb(255, 0, 0);
}