body {
    overflow-x: hidden;
    font-family: 'Source Code Pro', monospace;
    /* height: fit-content; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.logo {
    max-width: 300px;
}

.container {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 15vh;
    width: 90vw;
    position: sticky;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 1em;
    margin: 1em;
    min-width: 6em;
    /* min-height: 10em;
    max-height: 100em; */
    height: fit-content;
    font-size: 2em;
    overflow: scroll;
}


nav ul li {
    margin: 3em;
}

.nav-hidden {
    position: fixed;
    right: -600px;
    transition: 0.5s;
}

.nav-shown {
    position: fixed;
    right: -2em;
    transition: 0.5s;
}

.video-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

video {
    width: 90vw;
    border-radius: 15px;
}


.attention-text {
    color: rgb(255, 0, 0);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(42, 0, 42, 0.247);
    padding: 1em;
    margin: 5vh 0 0 0;
    border-radius: 15px;
    font-size: 1.25em;
    width: 90vw;
}