:root {
    --accent1: rgb(123, 225, 123);
}

body {
    overflow-x: hidden;
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    /* height: fit-content; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

p {
    color: white;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.media-sub-container {
    display: flex;
    flex-direction: column;
    max-width: 35vw;
    min-width: 35vw;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 15px;
    margin: 2em;
    padding: 1em;
}

iframe {
    max-width: 35vw;

}

img {
    max-width: 30vw;
    margin: 2em;
}



.logo {
    max-width: 300px;
    filter: drop-shadow(3px 3px 0px white);
}

.container {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 15vh;
    width: 90vw;
    position: sticky;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 1em;
    margin: 1em;
    min-width: 6em;
    /* min-height: 10em;
    max-height: 100em; */
    max-height: fit-content;
    font-size: 2em;
    overflow: scroll;
    border: 2px solid var(--accent1);
}

#hamburger {
    filter: drop-shadow(1px 1px 0 white);
}


nav ul li {
    margin: 3em;
}

.nav-hidden {
    position: fixed;
    right: -600px;
    transition: 0.5s;
}

.nav-shown {
    position: fixed;
    right: -2em;
    transition: 0.5s;
    max-height: 80vh;
}

.video-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

video {
    width: 90vw;
    border-radius: 15px;
    z-index: -1;
}


.attention-text {
    color: rgb(255, 0, 0);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1em;
    margin: 5vh 0 0 0;
    border-radius: 15px;
    font-size: 1.25em;
    width: 90vw;
    border: 2px solid var(--accent1);
}

a {
    text-decoration: none;
    color: var(--accent1);
}



.main-image {
    border-radius: 15px;
    max-width: 90vw;
}